<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206072794651-t63fkc9c5n7ku297om32jtd719uh75ed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206072794651-t63fkc9c5n7ku297om32jtd719uh75ed</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>206072794651-nbaa2kova2aqdfmkmd0qta78opulka92.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ2bhfApMsKqO2UjW0KD-pAf6kyks20uY</string>
	<key>GCM_SENDER_ID</key>
	<string>206072794651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amaeyeclinic.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>amafoundation-6f2f1</string>
	<key>STORAGE_BUCKET</key>
	<string>amafoundation-6f2f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206072794651:ios:8c7fe3e78ea842eafa32be</string>
</dict>
</plist>